/* Index Page Title */
.title {
    padding: 25px;
}

/* Login and Register Button */
.auth-btn {
    text-align: center;
}

/* Authentication Forms */
.auth-card {
    margin: 20% auto;
    width: 50%;
}

/* Authentication Form Fields */
.auth-field input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    box-sizing: border-box;
}

.list-group {
    margin: 10px 0;
}

.list-group-item {
    margin: 0;
    padding: 0;
}

.alert {
    margin: 0;
}